@value buttonText, buttonBg, buttonBgActive from '../colors.css';
@value roundedCornerRadius, activeEdgeWidth from '../dimensions.css';

.common {
  composes: common from './Input.css';
  margin: 0;
  outline: none;
  border: 0;
  border-radius: roundedCornerRadius;
  padding: 6px;

  color: buttonText;
  background-color: buttonBg;
}

.common:hover {
  background-color: buttonBgActive;
}

.common:focus {
  box-shadow: 0 0 0 activeEdgeWidth buttonBgActive;
}

.common::-moz-focus-inner {
  border: 0;
}
