@value inputBg, textDark, textLight from '../colors.css';
@value activeEdgeWidth, inputMargin from '../dimensions.css';

.common {
  position: relative;
}

.common > input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.common > input + span {
  display: inline-block;
  outline-offset: -1px;
  border: 1px solid;
  background-repeat: no-repeat;
}

.embedded > input + span {
  width: 14px;
  height: 14px;
  margin: 1px;
}

:not(.embedded) > input + span {
  width: 20px;
  height: 20px;
  margin: 0 0 10px 0;
}

.common > input:checked + span {
  background-image: url(../../images/check.svg);
}

.common > input:focus + span {
  outline: solid textDark;
  outline-width: activeEdgeWidth;
}

.normal {
  composes: common;
}

.normal > input + span {
  border-color: textLight;
  background-color: inputBg;
}

.readOnly {
  composes: common;
}

.readOnly > input + span {
  border-color: transparent;
}

.indeterminate > input + span {
  background-image: url(../../images/square.svg);
}
