@value inputHeight, activeEdgeWidth from '../dimensions.css';
@value textLight, textMedium from '../colors.css';

.common {
  composes: common from './Input.css';
}

.common input, .common textarea {
  padding-right: 24px;
  background-image: url(../../images/dropdown.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.common > div {
  top: calc(inputHeight + activeEdgeWidth - 1px);
}

.common > div > header {
  padding: 4px;
  font-size: 12px;
  font-style: italic;
  border-bottom: 1px solid textLight;
}

.embedded > div {
  left: -1px;
  top: calc(inputHeight + activeEdgeWidth - 2px);
  min-width: calc(100% + 2px);
}

.filtering input, .filtering textarea {
  color: textMedium;
}

.open input, .open textarea {
  outline: 2px solid;
}
