@value textLight, inputTableReadOnlyBorder, readOnlyBorder from '../colors.css';

.common {
  display: flex;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.common > div {
  padding: 0 2px;
  flex: 1;
}

.normal {
  composes: common;
  border: 1px solid textLight;
  border-bottom: none;
}

:global(.cspace-input-CompoundInput--readOnly) .normal {
  border-color: inputTableReadOnlyBorder;
}

.embedded {
  composes: common;
}
