@value textLight, inputTableReadOnlyBorder, readOnlyBorder from '../colors.css';

.common {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-color: textLight;
}

.common > div {
  padding: 0;
  flex: 1;
}

.common > div + div {
  border-left: 1px solid textLight;
}

:global(.cspace-input-CompoundInput--readOnly) .common > div + div {
  border-color: readOnlyBorder;
}

.normal {
  composes: common;
  border: 1px solid textLight;
}

:global(.cspace-input-CompoundInput--readOnly) .normal {
  border-color: inputTableReadOnlyBorder;
}

.embedded {
  composes: common;
}
