@value textLight from '../colors.css';

.common {
  composes: common from './Input.css';
  display: flex;
  border: 1px solid textLight;
  border-radius: 3px;
}

.common > input {
  padding-right: 21px;
  background-image: url(../../images/search.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.common input {
  height: 24px;
  background-size: 20px;
  border-radius: 3px;
  padding-left: 4px;
}

.normal {
  composes: common;
}

.common > div {
  border-right: 1px solid textLight;
  flex: 0 0 auto;
}

.common > div > div {
  top: 26px;
}
