@value textDark from '../colors.css';

.common {
  display: block;
  margin: 3px 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: textDark;
}

.required {
  composes: common;
}

.required::after {
  content: "*";
}
