@value textDark, textLabel from '../colors.css';

.common {
  display: block;
  margin: 3px 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: textLabel;
}

.required {
  composes: common;
}

.required::after {
  content: "*";
  color: rgb(220, 0, 0);
}
