@value inputHeight from '../dimensions.css';

.normal {
  composes: normal from './TextInput.css';
  height: inputHeight;
}

.embedded {
  composes: embedded from './TextInput.css';
  height: calc(inputHeight - 2px);
}
