.common {
  composes: common from './Input.css';
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: default;
  max-height: 120px;
  overflow-y: auto;
}

.common:focus {
  outline: none;
}

.common > li {
  padding: 0 18px 0 18px;
  border: 1px solid white;
  white-space: nowrap;
}

.common > li:hover {
  background-color: #F0F5FB;
}
