@value inputBg, buttonText, buttonBg, buttonBgActive, textMedium, textDark from '../colors.css';
@value activeEdgeWidth, inputHeight from '../dimensions.css';

.common {
  composes: common from './Input.css';
  margin: 0;
  border-radius: 0;
  border: none;
  padding: 0 4px;
  height: calc(inputHeight - 2px);
  display: block;
  font-size: 12px;
  line-height: 22px;
  background-color: transparent;
  overflow: hidden;
  text-align: center;
}

div.common {
  color: textMedium;
}

.common:enabled {
  background-color: inputBg;
}

.common:enabled:focus {
  outline: solid buttonBgActive;
  outline-width: activeEdgeWidth;
  position: relative;
  z-index: 2;
  color: buttonText;
  background-color: buttonBg;
}

.common:enabled:hover {
  outline: 1px solid buttonBgActive;
  position: relative;
  z-index: 1;
  color: buttonText;
  background-color: buttonBg;
}

.common:enabled:hover:focus {
  outline: activeEdgeWidth solid buttonBgActive;
  position: relative;
  z-index: 2;
  color: buttonText;
  background-color: buttonBgActive;
}

.common::-moz-focus-inner {
  border: 0;
}

.normal {
  composes: common;
  width: calc(inputHeight - 2px);
}

.autoWidth {
  composes: common;
}