@value inputBg, buttonText, buttonBg, buttonBgActive from '../colors.css';
@value activeEdgeWidth, inputHeight from '../dimensions.css';

.common {
  composes: common from './Input.css';
  border-radius: 0;
  border: none;
  padding: 0;
  width: calc(inputHeight - 2px);
  height: calc(inputHeight - 2px);
  display: block;
  font-size: 12px;
  background-color: transparent;
  overflow: hidden;
}

.common:global(.material-icons) {
  font-size: 12px;
}

.common:enabled {
  background-color: inputBg;
}

.common:enabled:focus {
  outline: solid buttonBgActive;
  outline-width: activeEdgeWidth;
  position: relative;
  z-index: 2;
  color: buttonText;
  background-color: buttonBg;
}

.common:enabled:hover {
  outline: 1px solid buttonBgActive;
  position: relative;
  z-index: 1;
  color: buttonText;
  background-color: buttonBg;
}

.common:enabled:hover:focus {
  outline: activeEdgeWidth solid buttonBgActive;
  position: relative;
  z-index: 2;
  color: buttonText;
  background-color: buttonBgActive;
}

.common::-moz-focus-inner {
  border: 0;
}
