@value inputHeight from '../dimensions.css';
@value heightMultiplier: 4;

.common {
  resize: none;
}

.normal {
  composes: common;
  composes: normal from './TextInput.css';
  height: calc(inputHeight * heightMultiplier);
}

.embedded {
  composes: common;
  composes: embedded from './TextInput.css';
  height: calc(inputHeight * heightMultiplier - 2px);
}
