@value inputHeight, multilineHeightMultiplier from '../dimensions.css';

.common {
  min-height: calc(inputHeight - 2px);
  resize: vertical;
}

.normal {
  composes: common;
  composes: normal from './TextInput.css';
  height: calc(inputHeight * multilineHeightMultiplier);
}

.embedded {
  composes: common;
  composes: embedded from './TextInput.css';
  height: calc(inputHeight * multilineHeightMultiplier - 2px);
}
