@value textLight from '../colors.css';

.common {
  composes: common from './Input.css';
  display: flex;
  border: 1px solid textLight;
  border-radius: 3px;
}

.common > input {
  padding-right: 22px;
  background-image: url(../../images/search.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.common input {
  height: 26px;
  background-size: 20px;
  border-radius: 3px;
  padding-left: 5px;
}

.normal {
  composes: common;
}

.common > :global(.cspace-input-DropdownMenuInput--common) {
  border-right: 1px solid textLight;
  flex: 0 1 auto;
}

.common > :global(.cspace-input-DropdownMenuInput--common) > div {
  top: 28px;
}
