.common {
  composes: common from './Input.css';
  display: inline-block;
  width: 100%;
}

.normal {
  composes: common;
  margin-bottom: 10px;
  height: 22px;
}

.embedded {
  composes: common;
  height: 20px;
}
