@value textLight, inputBg from '../colors.css';
@value inputHeight, inputMargin from '../dimensions.css';

.common {
  composes: common from './Input.css';
  margin-bottom: inputMargin;
}

.common > header {
  border: 1px solid textLight;
  border-bottom: none;
  padding: 0 calc(inputHeight - 2px);
}

.common > ol {
  width: 100%;
  list-style: none;
  display: table;
  box-sizing: border-box;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.common > ol > li {
  display: table-row;
}

.common > ol > li > * {
  display: table-cell;
  border: 1px solid textLight;
  vertical-align: top;
}

.common > ol > li > *:first-child,
.common > ol > li > *:last-child,
.common > footer > *:first-child {
  width: calc(inputHeight - 2px);
  background-color: inputBg;
}

.common > footer > * {
  border: 1px solid textLight;
  border-top: none;
}
