@value textLight from '../colors.css';
@value inputHeight from '../dimensions.css';

.common {
  composes: common from './Input.css';
}

.common {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.common > * > tr > td {
  border: 1px solid textLight;
  padding: 0;
  vertical-align: top;
}

.common > * > tr > td:first-child,
.common > * > tr > td:last-child {
  width: calc(inputHeight - 2px);
}
