@value textLight from '../colors.css';
@value inputHeight from '../dimensions.css';

.common > input, .common > textarea {
  padding-right: calc(inputHeight - 1px);;
  background-image: url(../../images/structDate.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.common > div {
  padding: 10px;
  background-color: rgb(245, 245, 245);
}

.common > div table {
  border-collapse: collapse;
  border: 1px solid textLight;
  min-width: 600px;
}

.common > div table tbody td, .common > div table tbody th {
  border: 1px solid textLight;
}

.common > div table td {
  padding: 0;
}

.common > div table th {
  padding: 0 2px;
  font-weight: 400;
  text-align: left;
}

.normal {
  composes: common;
}

.readOnly {
  composes: common;
}

.readOnly > div table {
  border-color: transparent;
}

.readOnly > div table tbody td, .readOnly > div table tbody th {
  border-color: transparent;
}
