@value inputBg, textDark, textLight from '../colors.css';
@value activeEdgeWidth, inputMargin from '../dimensions.css';

.common {
  composes: common from './Input.css';
  -webkit-appearance: none;
  display: block;
  width: 100%;
  margin: 0;
  outline: none;
  border-radius: 0;
  padding: 1px 2px;
  background-color: inputBg;
  color: textDark;
}

.common:focus {
  outline: solid textDark;
  outline-width: activeEdgeWidth;
  position: relative;
  z-index: 2;
}

.normal {
  composes: common;
  border: 1px solid textLight;
  outline-offset: -1px;
  margin-bottom: inputMargin;
}

.embedded {
  composes: common;
  border: none;
  outline-offset: 0;
}
