@value textDark, textLight from '../colors.css';
@value activeEdgeWidth, inputMargin from '../dimensions.css';

.common {
  composes: common from './Input.css';
  margin: 0;
  outline: none;
  padding: 1px 2px;
  color: textDark;
  width: 100%;
  display: block;
}

.common:focus {
  outline: activeEdgeWidth solid textDark;
  position: relative;
  z-index: 2;
}

.normal {
  composes: common;
  border: 1px solid textLight;
  outline-offset: -1px;
  margin-bottom: inputMargin;
}

.embedded {
  composes: common;
  border: none;
  outline-offset: 0;
}
